<div>
    <div id="main">

        <!-- One -->
            <section class="wrapper style1">
                <div class="inner">
                    <header class="align-center">
                        <h2>WE create You Celebrate</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>
                    <div class="video">
                        <div class="video-wrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/s6zR2T9vn2c" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="align-center">
                    <h2>Who Are we?</h2>
                    <p>Curabitur venenatis lorem ut finibus finibus. Ut quis eleifend libero, nec ultricies metus. Morbi magna risus, congue sit amet pellentesque eget, malesuada ut justo. Sed ac pretium quam. Ut vel ex vitae enim sagittis posuere ac id erat. Vestibulum vel ullamcorper tellus. Donec sapien massa, venenatis ac felis vel, vestibulum sagittis enim. Maecenas ut egestas lorem, nec luctus ligula. Vestibulum neque diam, aliquet non enim a, cursus lacinia metus. Aenean fringilla luctus rhoncus. Integer vulputate massa ac suscipit venenatis. Integer luctus elit non nulla fringilla, ullamcorper maximus sem congue. Integer tristique eu nisi nec fermentum. Ut malesuada quis massa at ultricies.</p>
                </div>
                </div>
            </section>

        <!-- Three -->
            <section class="wrapper ">
                <div class="inner">
                    <header class="align-center">
                        <h2>Our Team</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>

                    <!-- 3 Column Video Section -->
                        <div class="flex flex-3">
    
                         
                            <div class="video col">
                                <div class="image fit ">
                                    <img src="../../../static/images/pic10.jpg" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <p class="caption">
                                    Vivamus vulputate lacus non massa auctor lobortis
                                </p>
                                <a href="generic.html" class="link"><span>Click Me</span></a>
                            </div>
                            <div class="video col">
                                <div class="image fit">
                                    <img src="../../../static/images/pic11.jpg" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <p class="caption">
                                    Nam eu nisi non ante sodales interdum a vitae neque
                                </p>
                                <a href="generic.html" class="link"><span>Click Me</span></a>
                            </div>
                        </div>
                </div>
            </section>

        </div>

</div>