<div>
    <div id="main">

        <!-- One -->
            <section class="wrapper style1">
                <div class="inner">
                   
                    <div class="align-center">
                    <h2>Who Are we?</h2>
                    <p>Curabitur venenatis lorem ut finibus finibus. Ut quis eleifend libero, nec ultricies metus. Morbi magna risus, congue sit amet pellentesque eget, malesuada ut justo. Sed ac pretium quam. Ut vel ex vitae enim sagittis posuere ac id erat. Vestibulum vel ullamcorper tellus. Donec sapien massa, venenatis ac felis vel, vestibulum sagittis enim. Maecenas ut egestas lorem, nec luctus ligula. Vestibulum neque diam, aliquet non enim a, cursus lacinia metus. Aenean fringilla luctus rhoncus. Integer vulputate massa ac suscipit venenatis. Integer luctus elit non nulla fringilla, ullamcorper maximus sem congue. Integer tristique eu nisi nec fermentum. Ut malesuada quis massa at ultricies.</p>
                </div>
                </div>
            </section>

        <!-- Three -->
            <section class="wrapper ">
                <div class="inner">
                    <header class="align-center">
                        <h2>Our Team</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>

                    <!-- 3 Column Video Section -->
                        <div class="flex flex-3">
                
                            <div class="col-lg-4 text-center">
                                <img height="256" width="256" class="image-round" src="../../../static/images/pic07.jpg" />
                                <h4 style="padding: 0px; margin: 0px;">Saurabh Jain</h4>
                                <h5 class="secondary description-text">Founder</h5>
                            </div>
                            <div class="col-lg-4 text-center">
                                <img height="256" width="256" class="image-round" src="../../../static/images/pic07.jpg" />
                                <h4 style="padding: 0px; margin: 0px;">Saurabh Jain</h4>
                                <h5 class="secondary description-text">Founder</h5>
                            </div>
                            <div class="col-lg-4 text-center">
                                <img height="256" width="256" class="image-round" src="../../../static/images/pic07.jpg" />
                                <h4 style="padding: 0px; margin: 0px;">Saurabh Jain</h4>
                                <h5 class="secondary description-text">Founder</h5>
                            </div>
                            
                        </div>
                </div>
            </section>

        </div>

</div>