<div class="homepage-main">
   
  <!--- <header id="header">
        <a href="#menu">Menu</a>
    </header>

 Nav -
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
            <li >  <router-link to="/hotel">Hotel</router-link></li>

            <li >  <router-link to="/fixeddeparture">Fixed Departure</router-link></li>
        </ul>
    </nav>-->

    <!-- Banner -->
    <!--
        To use a video as your background, set data-video to the name of your video without
        its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
        formats to work correctly.
    -->
        <section id="banner" data-video="images/banner">
            <div class="inner">
                <header>
                    <h1>We Create We Celebrate</h1>
                    <p>Morbi eu purus eget urna interdum dignissim sed consectetur augue<br />
                    vivamus vitae libero in nulla iaculis eleifend non sit amet nulla.</p>
                </header>
              
            </div>

        </section>

<!-- Main -->
    <div id="main">

    <!-- One -->
        <section class="wrapper style1">
            <div class="inner">
                <header class="align-center">
                    <h2>Our Events</h2>
                    <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                </header>
                <!-- 2 Column Video Section -->
                    <div class="flex flex-2">
                        <div class="video col align-center">
                            <div class="image fit">
                                <img src="../../../static/images/pic07.jpg" alt="" />
                                
                            </div>
                            <h3 >
                                Perfect Mr & Miss India North
                            </h3>
                            <h4 class="secondary">
                                20 February 2020
                            </h4>
                            <button> Register </button>
                        </div>
                        <div class="video col align-center">
                            <div class="image fit">
                                <img src="../../../static/images/pic08.jpg" alt="" />
                                
                            </div>
                            <h3 >
                               Guftgu 2020 - Music Festival
                            </h3>
                            <h4 class="secondary">
                                21 February 2020
                            </h4>
                            <button> Register </button>
                            
                        </div>
                    </div>
            </div>
        </section>

    <!-- Two -->
        <section class="wrapper style2">
            <div class="inner">
                <header>
                    <h2>Our Services</h2>
                    <p></p>
                </header>
                <!-- Tabbed Video Section -->
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <img height="64" src="../../../static/images/pic07.jpg" />
                        <h4>Events</h4>
                        <h5 class="secondary description-text">A great event manager makes himself feel like a guest at his own event. We, at buzz planners, ensure to do the same. We design events based on your vision, and our execution.</h5>
                    </div>
                    
                    
                </div>
                    
            </div>
        </section>

    </div>

  
</div>