<div class="main-admin">
    <div class="main-fixedDeparture">
        <header id="header">
            <a href="#menu">Menu</a>
        </header>
    
    <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li> <router-link to=" ">Home</router-link></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li >  <router-link to="/fixeddeparture">Fixed Departure</router-link></li>
    
            </ul>
        </nav>
    
    <!-- Main -->
        <div id="main">
    
        <!-- One -->
            <section class="wrapper style1">
                <div class="inner">
                    <header class="align-center">
                        <h2>Admin Support</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>FIELD</th>
                                    <th>CHOOSE FILE</th>
                                  
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Fixed Departure</td>
                                    <td><input type="file" id="csv_file" name="csv_file"  @change="loadCSV($event)">
                                    </td>


  
                                </tr>  
                                <tr>
                                    <td>Hotel</td>
                                    <td><input type="file" id="file" ref="file" v-on:change="download()"/>
                                    </td>
                                        
                                </tr>  
                                <tr>
                                    <td>Fixed Departure</td>
                                    <td><button class="button alt">Action</button></td>
                                        
                                </tr>  
                                <tr>
                                    <td>Fixed Departure</td>
                                    <td><button class="button alt">Action</button></td>
                                        
                                </tr>     
                            </tbody>
                         
                        </table>
                    </div>
            </section>


            <div class="container">
                <div class="panel panel-sm">
                  <div class="panel-heading"> 
                    <h4>CSV Import</h4>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="csv_file" class="control-label col-sm-3 text-right">CSV file to import</label>
                      <div class="col-sm-9">
                        <input type="file" id="csv_file" name="csv_file" class="form-control" @change="loadCSV($event)">
                      </div>
                    </div>
                    <div class="col-sm-offset-3 col-sm-9">
                      <div class="checkbox-inline">
                        <label for="header_rows"><input type="checkbox" id="header_rows"> File contains header row?</label>
                      </div>
                    </div>

                    <table v-if="parse_csv">
                      <thead>
                        <tr>
                          <th v-for = "key in parse_header"
                              @click = "sortBy(key)"
                              :class="{ active: sortKey == key }">
                            {{ key | capitalize }}
                            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                            </span>
                          </th>
                        </tr>
                      </thead> 
                      <tr v-for="csv in parse_csv">
                        <td v-for="key in parse_header">
                          {{csv[key]}}
                        </td>
                      </tr>
                      
                    </table>
                  </div>
                </div>
              
              </div>
              
            </div>
    
        <!-- Three -->
            <section class="wrapper ">
                <div class="inner">
                    <header class="align-center">
                        <h2>Aliquam ipsum purus dolor</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>
    
                    <!-- 3 Column Video Section -->
                        <div class="flex flex-3">
                            <div class="video col">
                                <div class="image fit">
                                    <img src="./static/assets/./static/assets/images/pic09.jpg" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <p class="caption">
                                    Cras eget lacus sed mauris scelerisque tincidunt
                                </p>
                                <a href="generic.html" class="link"><span>Click Me</span></a>
                            </div>
                            <div class="video col">
                                <div class="image fit">
                                    <img src="./static/assets/images/pic10.jpg" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <p class="caption">
                                    Vivamus vulputate lacus non massa auctor lobortis
                                </p>
                                <a href="generic.html" class="link"><span>Click Me</span></a>
                            </div>
                            <div class="video col">
                                <div class="image fit">
                                    <img src="./static/assets/images/pic11.jpg" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <p class="caption">
                                    Nam eu nisi non ante sodales interdum a vitae neque
                                </p>
                                <a href="generic.html" class="link"><span>Click Me</span></a>
                            </div>
                        </div>
                </div>
            </section>
    
        </div>
    
    <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="flex flex-3">
                    <div class="col">
                        <h3>Vestibullum</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius commodo.</a></li>
                            <li><a href="#">Vis id faucibus montes tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel.</a></li>
                            <li><a href="#">Nascetur nunc varius commodo.</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Lobortis</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius commodo.</a></li>
                            <li><a href="#">Vis id faucibus montes tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel.</a></li>
                            <li><a href="#">Nascetur nunc varius commodo.</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Accumsan</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius commodo.</a></li>
                            <li><a href="#">Vis id faucibus montes tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel.</a></li>
                            <li><a href="#">Nascetur nunc varius commodo.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <ul class="icons">
                    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
                </ul>
            </div>
        </footer>
    
    </div>
</div>