<div class="main-admin">
    <div class="main-fixedDeparture">
        <header id="header">
            <a href="#menu">Menu</a>
        </header>
    
    <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li> <router-link to=" ">Home</router-link></li>
                <li><a href="generic.html">Generic</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li >  <router-link to="/fixeddeparture">Fixed Departure</router-link></li>
    
            </ul>
        </nav>
    
    <!-- Main -->
        <div id="main">
    
        <!-- One -->
            <section class="wrapper style1">
                <div class="inner">
                    <header class="align-center">
                        <h2>Admin Support</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>FIELD</th>
                                    <th>CHOOSE FILE</th>
                                  
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Fixed Departure</td>
                                    <td><input type="file" id="csv_file" name="csv_file"  @change="loadCSV($event)">
                                        
                                    </td>


  
                                </tr>  
                                <tr>
                                    <td>Hotel</td>
                                    <td><input type="file" id="file" ref="file" v-on:change="download()"/>
                                    </td>
                                    <td><input type="file" id="csv_file" name="csv_file"  @change="loadCSVHotel($event)">
      
                                </tr>  
                                <tr>
                                    <td>Fixed Departure</td>
                                    <td><button class="button alt">Action</button></td>
                                        
                                </tr>  
                                <tr>
                                    <td>Fixed Departure</td>
                                    <td><button class="button alt">Action</button></td>
                                        
                                </tr>     
                            </tbody>
                         
                        </table>
                    </div>
            </section>


              
            </div>
    
      

                             
       
    
   
    
    </div>
</div>