<div class="main-hotel">

<!-- Main -->
    <div id="main">

    <!-- One -->
        <section class="wrapper style1">
            <div class="inner">
                <header class="align-center">
                    <h2>HOTEL DEALS</h2>
                    <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                </header>
                <div class="table-wrapper">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th v-for = "key in keys"
                                  >
                                {{ key }}
                                <span class="arrow" >
                                </span>
                              </th>
                            </tr>
                          </thead> 
                        <tr v-for="item in data" class="text-white">
                           
                           <td v-for= "value in item">{{value}}</td>
            
                        </tr>
            
            
                    </table>
                </div>
            </div>
        </section>

    <!-- Three -->
       

    </div>

<!-- Footer -->
   

</div>