<div>
    <div id="main">

        <!-- One -->
            <section class="wrapper style1">
                <div class="inner">
                    <header class="align-center">
                        <h2>WE create You Celebrate</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>
                  v>
                    </div>
                
                </div>
            </section>

        <!-- Three -->
            <section class="wrapper ">
                <div class="inner">
                    <header class="">
                        <h2>Contact Us</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>

                    <!-- 3 Column Video Section -->
                        <div class="flex flex-3">
    
                         
                            <div class="video col">
                                <div class="image fit ">
                                    <img src="../../../static/images/pic10.jpg" alt="" />
                                    <div class="arrow">
                                        <div class="icon fa-play"></div>
                                    </div>
                                </div>
                                <p class="caption">
                                    Vivamus vulputate lacus non massa auctor lobortis
                                </p>
                                <a href="generic.html" class="link"><span>Click Me</span></a>
                            </div>
                            <div class="video col">

								<form method="post" action="#">
									<div class="row uniform">
										<div class="6u 12u$(xsmall)">
											<input type="text" name="name" id="name" value="" placeholder="Name" />
										</div>
										<div class="6u 12u$(xsmall)">
											<input type="email" name="email" id="name" value="" placeholder="Email" />
										</div>
	
									
									
					
										<!-- Break -->
										<div class="12u$ col-lg-12">
											<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
										</div>
										<!-- Break -->
										<div class="12u$">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
											</ul>
										</div>
									</div>
								</form>
                            </div>
                    
                        </div>
                </div>
            </section>

        </div>

</div>