<div class="">
    <footer id="footer">
        <div class="inner">
            <div class="flex flex-3">
             
                <div class="col">
                    <h3>Menu</h3>
                    <ul class="alt">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Fixed Departure</a></li>
                        <li><a href="#">Hotel Packages</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3 class="secondary">Address</h3>
                    <ul class="alt">
                        <li><h2>SCF-17, Ist Floor, VIP Road, Zirakpur, Punjab</h2></li>
                        <ul class="icons">
                            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
                        </ul>
                    </ul>

                    </div>
                </div>
            </div>
  
    </footer>
</div>